/.git
/.github
/vendor
/node_modules
/storage/app/public
/storage/debugbar
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/logs
/public/uploads
/sessions
/.env
/.env.*
/docker-compose.override.yml
/docker/*.log
/docker/redis
/.idea
.vscode
.DS_Store
npm-debug.log
composer.phar

